In [1]:
    #from sklearn.model_selection import train_test_split
#from sklearn.model_selection import ParameterGrid

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import IsolationForest

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor, plot_tree

#from sklearn_pandas import DataFrameMapper
from sklearn.compose import ColumnTransformer

from sklearn.impute import SimpleImputer

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

from sklearn.pipeline import make_pipeline, Pipeline

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
#from sklearn.metrics import PredictionErrorDisplay

from sklearn.decomposition import PCA

#from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split

from tqdm import tqdm

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats
import datetime
import seaborn as sns
sns.set_palette('muted')
sns.set_color_codes('muted')
sns.set_style('white')

import warnings
warnings.filterwarnings('ignore')

from statsmodels.graphics.mosaicplot import mosaic
pd.set_option('display.max_columns', 70)

In [2]:
hex_data = pd.read_csv('C:/Users/elysi/Tele2_project/data/transformed/new_hex.csv', sep = ',', decimal = ',', index_col = 0)
df_hex = pd.DataFrame(hex_data)
df_hex.shape

(50909, 38)

In [3]:
df_hex.head(3)

,h3_9,age_20,age_20_30,age_30_40,age_40_60,age_60,male,female,car_owners,carsharing_user,not_citizen_rf,public_trnsprt_user,healthy_food_inter,pharmacies_inter,beauty_salon_inter,elite_sports_inter,sprtswr_ftwr_inter,trvl_rus,trvl_abrd,sprt_fit_inter,hunting_fishing_inter,fashion_inter,coffee_inter,med_serv_inter,education_inter,delivery_inter,markets_inter,no_children,salary_1,salary_2,salary_3,salary_4,salary_5,centroid_lon,centroid_lat,age_count,gender_count,salary_count
0,89110615e0fffff,1,12,36,112,44,133,73,29,16,97,15,9,55,7,1,5,24,1,3,0,9,12,27,19,15,60,198,43,40,32,42,17,30.259959985436893,59.87966372815534,205,206,174
1,89110604b47ffff,1,36,189,124,82,234,202,238,95,218,1,0,256,22,18,1,37,13,20,4,50,59,93,147,154,303,292,95,68,58,139,36,30.564707642201835,59.95187107110092,432,436,396
2,8925716eeb3ffff,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,104.26247933333333,52.260660333333334,0,3,0

In [4]:
df_dur = pd.read_csv('C:/Users/elysi/Tele2_project/data/transformed/new_dur.csv', sep = ',', decimal = ',', index_col = 0)
df_dur.shape

(2012632, 13)

In [5]:
%%time
df_tracks = pd.read_csv('C:/Users/elysi/Tele2_project/data/tracks_and_hex/tracks_v4.csv', sep = ',', decimal = ',', index_col = 0)
df_tracks = df_tracks.iloc[:, 1:]
df_tracks.shape

CPU times: total: 9.5 s
Wall time: 13.3 s

(2716777, 32)

In [6]:
df_osm_agr = pd.read_csv('df_osm_agr.csv')
df_transport_agr = pd.read_csv('df_transport_agr.csv')
df_fitness_agr = pd.read_csv('df_fitness_agr.csv')
df_adm_distr = pd.read_csv('df_adm_distr.csv')

## Сверяем tracks и dur

**проверка характеристик абонентов в зависимости от времени**

In [7]:
df_tracks.head(3)

,id,start_dttm,end_dttm,centroid_wkt,centroid_lon,centroid_lat,start_dttm_day,h3_9,age,car_owners,carsharing_user,not_citizen_rf,gender,healthy_food_inter,income,public_trnsprt_user,pharmacies_inter,beauty_salon_inter,elite_sports_inter,sprtswr_ftwr_inter,sprt_good_inter,trvl_rus,trvl_abrd,sprt_fit_inter,hunting_fishing_inter,fashion_inter,coffee_inter,med_serv_inter,education_inter,delivery_inter,markets_inter,no_children
0,687194767538,2023-03-11 01:38:35,2023-03-11 09:38:35,POINT (30.508818 59.975328),30.508818,59.975328,11,89110604d0fffff,48.0,0,0,0,0,0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,687194767538,2023-03-10 23:38:35,2023-03-11 01:38:35,POINT (30.508818 59.975328),30.508818,59.975328,11,89110604d0fffff,48.0,0,0,0,0,0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,687194767538,2023-03-11 15:57:02,2023-03-11 17:54:41,POINT (30.508818 59.975328),30.508818,59.975328,11,89110604d0fffff,48.0,0,0,0,0,0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [8]:
df_tracks.columns

Index(['id', 'start_dttm', 'end_dttm', 'centroid_wkt', 'centroid_lon',
       'centroid_lat', 'start_dttm_day', 'h3_9', 'age', 'car_owners',
       'carsharing_user', 'not_citizen_rf', 'gender', 'healthy_food_inter',
       'income', 'public_trnsprt_user', 'pharmacies_inter',
       'beauty_salon_inter', 'elite_sports_inter', 'sprtswr_ftwr_inter',
       'sprt_good_inter', 'trvl_rus', 'trvl_abrd', 'sprt_fit_inter',
       'hunting_fishing_inter', 'fashion_inter', 'coffee_inter',
       'med_serv_inter', 'education_inter', 'delivery_inter', 'markets_inter',
       'no_children'],
      dtype='object')

In [8]:
columns_to_check = ['age', 'car_owners', 'carsharing_user', 'not_citizen_rf', 'gender',
                    'healthy_food_inter', 'income', 'public_trnsprt_user', 'pharmacies_inter',
                    'beauty_salon_inter', 'elite_sports_inter', 'sprtswr_ftwr_inter',
                    'sprt_good_inter', 'trvl_rus', 'trvl_abrd', 'sprt_fit_inter',
                    'hunting_fishing_inter', 'fashion_inter', 'coffee_inter', 'med_serv_inter',
                    'education_inter', 'delivery_inter', 'markets_inter', 'no_children']

def check_rows_differences(df):
    unique_counts = df.groupby('id')[columns_to_check].nunique()
    
    different_values = unique_counts > 1
    
    differences = different_values[different_values.any(axis=1)]
    
    diff_df = differences.stack()[differences.stack()].reset_index()
    diff_df.columns = ['id', 'Different_Columns', 'Different_Values_Flag']
    
    diff_df = diff_df.drop('Different_Values_Flag', axis=1)
    
    return diff_df

In [9]:
differences = check_rows_differences(df_tracks)
differences

Empty DataFrame
Columns: [id, Different_Columns]
Index: []

**Вывод: все хорошо, все пользователи имеют одинаковые характеристики в каждой записи**

**Новая задача: дропнуть записи в df_tracks, которые отсутствуют в df_dur**

In [10]:
df_dur.head(3)

,id,start_dttm,end_dttm,h3_9,centroid_lon,centroid_lat,duration,days,time,hours,minutes,seconds,total_sec
1,0,2023-03-03 00:18:43,2023-03-03 11:44:19,891106a9817ffff,30.404148,60.031672,0 days 11:25:36,0,11:25:36,11,25,36,41136
2,0,2023-03-03 13:17:33,2023-03-03 14:59:41,891106a9817ffff,30.404148,60.031672,0 days 01:42:08,0,1:42:8,1,42,8,6128
3,0,2023-03-03 19:28:07,2023-03-03 21:57:15,891106a9817ffff,30.404148,60.031672,0 days 02:29:08,0,2:29:8,2,29,8,8948

In [11]:
key_columns = ['id', 'start_dttm', 'end_dttm', 'h3_9']

# Creating a function to drop rows from df_tracks based on absence in df_dur
def drop_non_matching_rows(df_tracks, df_dur, key_columns):
   
    dur_set = set(tuple(row) for row in df_dur[key_columns].to_numpy())
    matching_rows = df_tracks.apply(lambda row: tuple(row[key_columns]) in dur_set, axis=1)
    
    return df_tracks[matching_rows]

In [12]:
%%time
filtered_df_tracks = drop_non_matching_rows(df_tracks, df_dur, key_columns)
filtered_df_tracks.shape, df_dur.shape

KeyboardInterrupt:

**Что странное, нужно или закинуть персональные фичи в сам процесс создания df_dur или просто заджоинить их по id (фичи одинаковых для одних и тех-же id, как мы раньше выяснили**

# Work with time aggregation

## Join features to df_dur

**Firstly, we need to create df with characteristics of unique ids**

In [9]:
df_id_features = df_tracks.drop_duplicates(subset=['id'])
df_id_features = df_id_features.drop(['start_dttm', 'end_dttm',
                                      'centroid_lon', 'centroid_lat', 'centroid_wkt',
                                     'start_dttm_day', 'h3_9'], axis=1)
df_id_features.shape, df_tracks.shape, df_tracks.id.nunique()

((41263, 25), (2716777, 32), 41263)

In [10]:
df_id_features.head(3)

,id,age,car_owners,carsharing_user,not_citizen_rf,gender,healthy_food_inter,income,public_trnsprt_user,pharmacies_inter,beauty_salon_inter,elite_sports_inter,sprtswr_ftwr_inter,sprt_good_inter,trvl_rus,trvl_abrd,sprt_fit_inter,hunting_fishing_inter,fashion_inter,coffee_inter,med_serv_inter,education_inter,delivery_inter,markets_inter,no_children
0,687194767538,48.0,0,0,0,0,0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
140,42949673114,36.0,1,1,0,0,1,5.0,0,1,0,0,0,0,1,0,0,0,0,0,1,1,1,1,0
279,635655159978,38.0,1,0,0,0,0,4.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1

**I don't like the way, how it was created before**

In [11]:
df_dur = df_dur.drop(['duration', 'days',
                      'time', 'hours', 'minutes',
                      'seconds', 'total_sec'], axis=1)

In [12]:
df_dur.head(3)

,id,start_dttm,end_dttm,h3_9,centroid_lon,centroid_lat
1,0,2023-03-03 00:18:43,2023-03-03 11:44:19,891106a9817ffff,30.404148,60.031672
2,0,2023-03-03 13:17:33,2023-03-03 14:59:41,891106a9817ffff,30.404148,60.031672
3,0,2023-03-03 19:28:07,2023-03-03 21:57:15,891106a9817ffff,30.404148,60.031672

In [13]:
df_tracks_new = pd.merge(df_dur, df_id_features, how="left", on=["id"])

In [14]:
df_tracks_new.shape

(2012632, 30)

In [15]:
df_tracks_new.head(3)

,id,start_dttm,end_dttm,h3_9,centroid_lon,centroid_lat,age,car_owners,carsharing_user,not_citizen_rf,gender,healthy_food_inter,income,public_trnsprt_user,pharmacies_inter,beauty_salon_inter,elite_sports_inter,sprtswr_ftwr_inter,sprt_good_inter,trvl_rus,trvl_abrd,sprt_fit_inter,hunting_fishing_inter,fashion_inter,coffee_inter,med_serv_inter,education_inter,delivery_inter,markets_inter,no_children
0,0,2023-03-03 00:18:43,2023-03-03 11:44:19,891106a9817ffff,30.404148,60.031672,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1
1,0,2023-03-03 13:17:33,2023-03-03 14:59:41,891106a9817ffff,30.404148,60.031672,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1
2,0,2023-03-03 19:28:07,2023-03-03 21:57:15,891106a9817ffff,30.404148,60.031672,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1

## Aggregation based on total visits

In [16]:
df_osm_agr.head(3)

,h3_9_osm,building_count,highway_count,footway_count,amenity_count,apartments_count,detached_count,dormitory_count,hotel_count,house_count,semidetached_house_count,terrace_count,commercial_count,office_count,retail_count,train_station_count,bus_stop_count,crossing_count,cafe_count,fast_food_count,restaurant_count,college_count,language_school_count,school_count,university_count,atm_count,bank_count,clinic_count,hospital_count,pharmacy_count,theatre_count,townhall_count,bench_count
0,891106a9e6bffff,5,0,2,15,4,0,0,1,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,15
1,891106a9d77ffff,4,1,0,0,4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,891106a9d73ffff,10,0,0,3,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2

In [17]:
df_osm_agr = df_osm_agr.rename(columns = {'h3_9_osm': 'h3_9'})

In [18]:
avaible_hexes = df_osm_agr['h3_9'].unique().tolist()
len(avaible_hexes)

4392

In [19]:
df_tracks_new_spb = df_tracks_new[df_tracks_new['h3_9'].isin(avaible_hexes)]

In [20]:
df_tracks_new_spb.head(3)

,id,start_dttm,end_dttm,h3_9,centroid_lon,centroid_lat,age,car_owners,carsharing_user,not_citizen_rf,gender,healthy_food_inter,income,public_trnsprt_user,pharmacies_inter,beauty_salon_inter,elite_sports_inter,sprtswr_ftwr_inter,sprt_good_inter,trvl_rus,trvl_abrd,sprt_fit_inter,hunting_fishing_inter,fashion_inter,coffee_inter,med_serv_inter,education_inter,delivery_inter,markets_inter,no_children
0,0,2023-03-03 00:18:43,2023-03-03 11:44:19,891106a9817ffff,30.404148,60.031672,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1
1,0,2023-03-03 13:17:33,2023-03-03 14:59:41,891106a9817ffff,30.404148,60.031672,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1
2,0,2023-03-03 19:28:07,2023-03-03 21:57:15,891106a9817ffff,30.404148,60.031672,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1

In [21]:
df_tracks_spb = df_tracks_new_spb[['id', 'start_dttm', 'end_dttm', 'h3_9']]

In [22]:
df_tracks_spb.head(3)

   id           start_dttm             end_dttm             h3_9
0   0  2023-03-03 00:18:43  2023-03-03 11:44:19  891106a9817ffff
1   0  2023-03-03 13:17:33  2023-03-03 14:59:41  891106a9817ffff
2   0  2023-03-03 19:28:07  2023-03-03 21:57:15  891106a9817ffff

In [23]:
df_tracks_spb['start_dttm'] = pd.to_datetime(df_tracks_spb['start_dttm'])
df_tracks_spb['end_dttm'] = pd.to_datetime(df_tracks_spb['end_dttm'])

In [24]:
df_tracks_spb['start_date'] = df_tracks_spb['start_dttm'].dt.strftime('%Y-%m-%d')

In [25]:
df_tracks_spb.head(3)

   id          start_dttm            end_dttm             h3_9  start_date
0   0 2023-03-03 00:18:43 2023-03-03 11:44:19  891106a9817ffff  2023-03-03
1   0 2023-03-03 13:17:33 2023-03-03 14:59:41  891106a9817ffff  2023-03-03
2   0 2023-03-03 19:28:07 2023-03-03 21:57:15  891106a9817ffff  2023-03-03

In [26]:
# Функция для времени дня
def get_day_time(timestamp):
    hour = timestamp.hour
    if 6 <= hour < 10:
        return 'morning'
    elif 10 <= hour < 18:
        return 'day'
    elif 18 <= hour < 22:
        return 'evening'
    else:
        return 'night'

# Для категории дня
def get_week_category(date):
    day_type = date.weekday()
    if day_type < 5:
        return 'weekday'
    else:
        return 'weekend'
        return 'weekend'

In [27]:
df_tracks_spb['start_date'] = pd.to_datetime(df_tracks_spb['start_date'], utc=True)
df_tracks_spb['start_day_time'] = df_tracks_spb['start_dttm'].apply(get_day_time)
df_tracks_spb['start_week_class'] = df_tracks_spb['start_date'].apply(get_week_category)
df_tracks_spb['week_day'] = df_tracks_spb['start_dttm'].dt.day_name()

df_tracks_spb['sec_diff'] = (df_tracks_spb['end_dttm'] - df_tracks_spb['start_dttm']).dt.total_seconds()
df_tracks_spb['hour_diff'] = round(df_tracks_spb['sec_diff'] / 3600, 2)

In [28]:
df_tracks_spb.head(5)

,id,start_dttm,end_dttm,h3_9,start_date,start_day_time,start_week_class,week_day,sec_diff,hour_diff
0,0,2023-03-03 00:18:43,2023-03-03 11:44:19,891106a9817ffff,2023-03-03 00:00:00+00:00,night,weekday,Friday,41136.0,11.43
1,0,2023-03-03 13:17:33,2023-03-03 14:59:41,891106a9817ffff,2023-03-03 00:00:00+00:00,day,weekday,Friday,6128.0,1.70
2,0,2023-03-03 19:28:07,2023-03-03 21:57:15,891106a9817ffff,2023-03-03 00:00:00+00:00,evening,weekday,Friday,8948.0,2.49
3,0,2023-03-03 23:39:50,2023-03-04 05:35:30,891106a9817ffff,2023-03-03 00:00:00+00:00,night,weekday,Friday,21340.0,5.93
4,0,2023-03-04 05:35:30,2023-03-04 08:35:30,891106a9d4bffff,2023-03-04 00:00:00+00:00,night,weekend,Saturday,10800.0,3.00

In [29]:
df_tracks_spb.shape, df_tracks_spb.h3_9.nunique()

((992993, 10), 3905)

In [30]:
# Aggregation function for 'h3_9'
def aggregate_data(df):
    # Aggregations
    agg_df = df.groupby('h3_9').agg(

        avg_duration_hrs=('hour_diff', 'mean'),
        median_duration_hrs =('hour_diff', 'median'),
        weekday_visits=('start_week_class', lambda x: (x == 'weekday').sum()),
        weekend_visits=('start_week_class', lambda x: (x == 'weekend').sum()),
    ).reset_index()

    # Duration categories
    duration_categories = ['Stay0_05h', 'Stay05_1h', 'Stay1_3h', 'Stay3_6h', 'Stay6_9h', 'Stay9_15h', 'Stay15_20h', 'Stay20_plus']
    duration_bins = [0, 0.5, 1, 3, 6, 9, 15, 20, float('inf')]
    df['duration_category'] = pd.cut(df['hour_diff'], bins=duration_bins, labels=duration_categories)
    duration_counts = df.groupby(['h3_9', 'duration_category']).size().unstack(fill_value=0).reset_index()

    # Merge duration counts into the aggregated DataFrame
    agg_df = pd.merge(agg_df, duration_counts, on='h3_9', how='left')

    # Weekday and time-of-day visits
    day_visits = df.pivot_table(index='h3_9', columns='week_day', aggfunc='size', fill_value=0).reset_index()
    time_visits = df.pivot_table(index='h3_9', columns='start_day_time', aggfunc='size', fill_value=0).reset_index()

    # Merge day and time visits into the aggregated DataFrame
    agg_df = pd.merge(agg_df, day_visits, on='h3_9', how='left')
    agg_df = pd.merge(agg_df, time_visits, on='h3_9', how='left')

    return agg_df

In [31]:
%%time
df_tracks_spb_aggregated = aggregate_data(df_tracks_spb)

CPU times: total: 1.75 s
Wall time: 2.13 s

In [32]:
df_tracks_spb_aggregated.head(3)

,h3_9,avg_duration_hrs,median_duration_hrs,weekday_visits,weekend_visits,Stay0_05h,Stay05_1h,Stay1_3h,Stay3_6h,Stay6_9h,Stay9_15h,Stay15_20h,Stay20_plus,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,day,evening,morning,night
0,8911060006bffff,4.722789,2.23,108,39,0,10,76,19,15,21,2,4,37,25,24,15,12,21,13,47,40,28,32
1,89110600077ffff,3.709160,1.81,186,64,0,22,141,44,17,16,9,1,36,54,31,33,34,36,26,115,54,36,45
2,89110600113ffff,4.214955,1.72,213,120,0,28,229,39,18,9,7,3,46,61,62,58,36,33,37,148,51,84,50

In [33]:
df_tracks_spb_aggregated.columns

Index(['h3_9', 'avg_duration_hrs', 'median_duration_hrs', 'weekday_visits',
       'weekend_visits', 'Stay0_05h', 'Stay05_1h', 'Stay1_3h', 'Stay3_6h',
       'Stay6_9h', 'Stay9_15h', 'Stay15_20h', 'Stay20_plus', 'Friday',
       'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday',
       'day', 'evening', 'morning', 'night'],
      dtype='object')

In [34]:
weekday_weekend_groups = ['weekday_visits', 'weekend_visits']
duration_groups = ['Stay0_05h', 'Stay05_1h', 'Stay1_3h', 'Stay3_6h', 'Stay6_9h', 'Stay9_15h', 'Stay15_20h', 'Stay20_plus']
day_of_week_groups = ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']
time_of_day_groups = ['day', 'evening', 'morning', 'night']

df_tracks_spb_shares = df_tracks_spb_aggregated.copy()

# Calculate the shares within each group
for group in [weekday_weekend_groups, duration_groups, day_of_week_groups, time_of_day_groups]:
    total = df_tracks_spb_shares[group].sum(axis=1)
    for column in group:
        df_tracks_spb_shares[column] = df_tracks_spb_shares[column] / total

df_tracks_spb_shares = df_tracks_spb_shares.fillna(0)

In [35]:
for column in df_tracks_spb_shares.columns:
    if column not in ['h3_9', 'visit_count', 'avg_duration']:
        df_tracks_spb_shares.rename(columns={column: column + '_share'}, inplace=True)

In [36]:
df_tracks_spb_shares = df_tracks_spb_shares.drop(['avg_duration_hrs_share', 'median_duration_hrs_share'], axis=1)

In [37]:
df_tracks_spb_shares.head(3)

,h3_9,weekday_visits_share,weekend_visits_share,Stay0_05h_share,Stay05_1h_share,Stay1_3h_share,Stay3_6h_share,Stay6_9h_share,Stay9_15h_share,Stay15_20h_share,Stay20_plus_share,Friday_share,Monday_share,Saturday_share,Sunday_share,Thursday_share,Tuesday_share,Wednesday_share,day_share,evening_share,morning_share,night_share
0,8911060006bffff,0.734694,0.265306,0.0,0.068027,0.517007,0.129252,0.102041,0.142857,0.013605,0.027211,0.251701,0.170068,0.163265,0.102041,0.081633,0.142857,0.088435,0.319728,0.272109,0.190476,0.217687
1,89110600077ffff,0.744000,0.256000,0.0,0.088000,0.564000,0.176000,0.068000,0.064000,0.036000,0.004000,0.144000,0.216000,0.124000,0.132000,0.136000,0.144000,0.104000,0.460000,0.216000,0.144000,0.180000
2,89110600113ffff,0.639640,0.360360,0.0,0.084084,0.687688,0.117117,0.054054,0.027027,0.021021,0.009009,0.138138,0.183183,0.186186,0.174174,0.108108,0.099099,0.111111,0.444444,0.153153,0.252252,0.150150

In [38]:
df_tracks_spb_shares.columns

Index(['h3_9', 'weekday_visits_share', 'weekend_visits_share',
       'Stay0_05h_share', 'Stay05_1h_share', 'Stay1_3h_share',
       'Stay3_6h_share', 'Stay6_9h_share', 'Stay9_15h_share',
       'Stay15_20h_share', 'Stay20_plus_share', 'Friday_share', 'Monday_share',
       'Saturday_share', 'Sunday_share', 'Thursday_share', 'Tuesday_share',
       'Wednesday_share', 'day_share', 'evening_share', 'morning_share',
       'night_share'],
      dtype='object')

In [39]:
df_tracks_spb_aggregated.head(3)

,h3_9,avg_duration_hrs,median_duration_hrs,weekday_visits,weekend_visits,Stay0_05h,Stay05_1h,Stay1_3h,Stay3_6h,Stay6_9h,Stay9_15h,Stay15_20h,Stay20_plus,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,day,evening,morning,night
0,8911060006bffff,4.722789,2.23,108,39,0,10,76,19,15,21,2,4,37,25,24,15,12,21,13,47,40,28,32
1,89110600077ffff,3.709160,1.81,186,64,0,22,141,44,17,16,9,1,36,54,31,33,34,36,26,115,54,36,45
2,89110600113ffff,4.214955,1.72,213,120,0,28,229,39,18,9,7,3,46,61,62,58,36,33,37,148,51,84,50

In [40]:
df_tracks_spb_aggregated.shape, df_tracks_spb_shares.shape

((3905, 24), (3905, 22))

**join dataframes together**

In [41]:
df_tracks_spb_aggregated = pd.merge(df_tracks_spb_aggregated, df_tracks_spb_shares,
                                how='left', left_on='h3_9', right_on='h3_9')

In [42]:
df_tracks_spb_aggregated.shape

(3905, 45)

In [43]:
df_tracks_spb_aggregated.head(5)

,h3_9,avg_duration_hrs,median_duration_hrs,weekday_visits,weekend_visits,Stay0_05h,Stay05_1h,Stay1_3h,Stay3_6h,Stay6_9h,Stay9_15h,Stay15_20h,Stay20_plus,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,day,evening,morning,night,weekday_visits_share,weekend_visits_share,Stay0_05h_share,Stay05_1h_share,Stay1_3h_share,Stay3_6h_share,Stay6_9h_share,Stay9_15h_share,Stay15_20h_share,Stay20_plus_share,Friday_share,Monday_share,Saturday_share,Sunday_share,Thursday_share,Tuesday_share,Wednesday_share,day_share,evening_share,morning_share,night_share
0,8911060006bffff,4.722789,2.23,108,39,0,10,76,19,15,21,2,4,37,25,24,15,12,21,13,47,40,28,32,0.734694,0.265306,0.0,0.068027,0.517007,0.129252,0.102041,0.142857,0.013605,0.027211,0.251701,0.170068,0.163265,0.102041,0.081633,0.142857,0.088435,0.319728,0.272109,0.190476,0.217687
1,89110600077ffff,3.709160,1.81,186,64,0,22,141,44,17,16,9,1,36,54,31,33,34,36,26,115,54,36,45,0.744000,0.256000,0.0,0.088000,0.564000,0.176000,0.068000,0.064000,0.036000,0.004000,0.144000,0.216000,0.124000,0.132000,0.136000,0.144000,0.104000,0.460000,0.216000,0.144000,0.180000
2,89110600113ffff,4.214955,1.72,213,120,0,28,229,39,18,9,7,3,46,61,62,58,36,33,37,148,51,84,50,0.639640,0.360360,0.0,0.084084,0.687688,0.117117,0.054054,0.027027,0.021021,0.009009,0.138138,0.183183,0.186186,0.174174,0.108108,0.099099,0.111111,0.444444,0.153153,0.252252,0.150150
3,89110600127ffff,3.020000,3.02,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
4,89110600183ffff,2.669375,2.12,6,10,0,0,11,4,1,0,0,0,1,2,4,6,0,2,1,9,1,5,1,0.375000,0.625000,0.0,0.000000,0.687500,0.250000,0.062500,0.000000,0.000000,0.000000,0.062500,0.125000,0.250000,0.375000,0.000000,0.125000,0.062500,0.562500,0.062500,0.312500,0.062500

## Aggregation of unique users features

In [44]:
df_tracks_spb.head(5)

,id,start_dttm,end_dttm,h3_9,start_date,start_day_time,start_week_class,week_day,sec_diff,hour_diff,duration_category
0,0,2023-03-03 00:18:43,2023-03-03 11:44:19,891106a9817ffff,2023-03-03 00:00:00+00:00,night,weekday,Friday,41136.0,11.43,Stay9_15h
1,0,2023-03-03 13:17:33,2023-03-03 14:59:41,891106a9817ffff,2023-03-03 00:00:00+00:00,day,weekday,Friday,6128.0,1.70,Stay1_3h
2,0,2023-03-03 19:28:07,2023-03-03 21:57:15,891106a9817ffff,2023-03-03 00:00:00+00:00,evening,weekday,Friday,8948.0,2.49,Stay1_3h
3,0,2023-03-03 23:39:50,2023-03-04 05:35:30,891106a9817ffff,2023-03-03 00:00:00+00:00,night,weekday,Friday,21340.0,5.93,Stay3_6h
4,0,2023-03-04 05:35:30,2023-03-04 08:35:30,891106a9d4bffff,2023-03-04 00:00:00+00:00,night,weekend,Saturday,10800.0,3.00,Stay1_3h

In [45]:
df_avg_duration = df_tracks_spb.groupby(['id', 'h3_9']).agg(
    avg_duration_hrs=('hour_diff', 'mean'),
    median_duration_hrs=('hour_diff', 'median'),
    avg_duration_secs=('sec_diff', 'mean'),
    median_duration_secs=('sec_diff', 'median')
).reset_index()

In [46]:
df_avg_duration.shape

(196048, 6)

In [47]:
df_avg_duration.head(5)

,id,h3_9,avg_duration_hrs,median_duration_hrs,avg_duration_secs,median_duration_secs
0,0,89110604c47ffff,1.570000,1.57,5644.000000,5644.0
1,0,891106a9817ffff,3.149672,1.70,11339.901639,6128.0
2,0,891106a9873ffff,1.830000,1.83,6584.500000,6584.5
3,0,891106a987bffff,2.043750,2.13,7358.416667,7670.5
4,0,891106a98a3ffff,1.530000,1.53,5508.000000,5508.0

In [48]:
# Aggregation function for 'h3_9'
def aggregate_data_unique_users(df):
    
    agg_df = df.groupby('h3_9').agg(

        avg_duration_hrs_per_unique =('avg_duration_hrs', 'mean'),
        median_duration_hrs_per_unique =('median_duration_hrs', 'median'),
    ).reset_index()

    duration_categories = ['Stay0_05h', 'Stay05_1h', 'Stay1_3h', 'Stay3_6h', 'Stay6_9h', 'Stay9_15h', 'Stay15_20h', 'Stay20_plus']
    duration_bins = [0, 0.5, 1, 3, 6, 9, 15, 20, float('inf')]
    df['duration_category'] = pd.cut(df['avg_duration_hrs'], bins=duration_bins, labels=duration_categories)
    duration_counts = df.groupby(['h3_9', 'duration_category']).size().unstack(fill_value=0).reset_index()

    # Merge duration counts into the aggregated DataFrame
    agg_df = pd.merge(agg_df, duration_counts, on='h3_9', how='left')

    return agg_df

In [49]:
df_avg_duration_full = aggregate_data_unique_users(df_avg_duration)

In [50]:
df_avg_duration_full.shape

(3905, 11)

In [51]:
df_avg_duration_full.head(3)

,h3_9,avg_duration_hrs_per_unique,median_duration_hrs_per_unique,Stay0_05h,Stay05_1h,Stay1_3h,Stay3_6h,Stay6_9h,Stay9_15h,Stay15_20h,Stay20_plus
0,8911060006bffff,3.710017,1.70,0,8,57,13,9,9,1,1
1,89110600077ffff,2.982734,1.39,0,18,55,13,6,4,3,0
2,89110600113ffff,5.845619,1.50,0,20,93,14,7,5,3,2

In [52]:
for column in df_avg_duration_full.columns:
    if column not in ['h3_9', 'avg_duration_hrs_per_unique', 'median_duration_hrs_per_unique']:
        df_avg_duration_full.rename(columns={column: column + '_per_unique'}, inplace=True)

**делаем агрегацию по долям**

In [53]:
duration_groups = ['Stay0_05h_per_unique', 'Stay05_1h_per_unique', 'Stay1_3h_per_unique',
                   'Stay3_6h_per_unique', 'Stay6_9h_per_unique', 'Stay9_15h_per_unique',
                   'Stay15_20h_per_unique', 'Stay20_plus_per_unique']

df_avg_duration_full_shares = df_avg_duration_full.copy()

# Calculate the shares within each group

total = df_avg_duration_full_shares[duration_groups].sum(axis=1)
for column in duration_groups:
    df_avg_duration_full_shares[column] = df_avg_duration_full_shares[column] / total

df_avg_duration_full_shares = df_avg_duration_full_shares.fillna(0)

In [54]:
df_avg_duration_full_shares = df_avg_duration_full_shares.drop(['avg_duration_hrs_per_unique', 'median_duration_hrs_per_unique'], axis=1)

In [55]:
df_avg_duration_full_shares.head(3)

,h3_9,Stay0_05h_per_unique,Stay05_1h_per_unique,Stay1_3h_per_unique,Stay3_6h_per_unique,Stay6_9h_per_unique,Stay9_15h_per_unique,Stay15_20h_per_unique,Stay20_plus_per_unique
0,8911060006bffff,0.0,0.081633,0.581633,0.132653,0.091837,0.091837,0.010204,0.010204
1,89110600077ffff,0.0,0.181818,0.555556,0.131313,0.060606,0.040404,0.030303,0.000000
2,89110600113ffff,0.0,0.138889,0.645833,0.097222,0.048611,0.034722,0.020833,0.013889

In [56]:
for column in df_avg_duration_full_shares.columns:
    if column not in ['h3_9']:
        df_avg_duration_full_shares.rename(columns={column: column + '_share_per_unique'}, inplace=True)

In [57]:
df_avg_duration_full_shares.head(3)

,h3_9,Stay0_05h_per_unique_share_per_unique,Stay05_1h_per_unique_share_per_unique,Stay1_3h_per_unique_share_per_unique,Stay3_6h_per_unique_share_per_unique,Stay6_9h_per_unique_share_per_unique,Stay9_15h_per_unique_share_per_unique,Stay15_20h_per_unique_share_per_unique,Stay20_plus_per_unique_share_per_unique
0,8911060006bffff,0.0,0.081633,0.581633,0.132653,0.091837,0.091837,0.010204,0.010204
1,89110600077ffff,0.0,0.181818,0.555556,0.131313,0.060606,0.040404,0.030303,0.000000
2,89110600113ffff,0.0,0.138889,0.645833,0.097222,0.048611,0.034722,0.020833,0.013889

**join dataframes together**

In [58]:
df_avg_duration_full = pd.merge(df_avg_duration_full, df_avg_duration_full_shares,
                                how='left', left_on='h3_9', right_on='h3_9')

In [59]:
df_avg_duration_full.shape

(3905, 19)

In [60]:
df_avg_duration_full.head(5)

,h3_9,avg_duration_hrs_per_unique,median_duration_hrs_per_unique,Stay0_05h_per_unique,Stay05_1h_per_unique,Stay1_3h_per_unique,Stay3_6h_per_unique,Stay6_9h_per_unique,Stay9_15h_per_unique,Stay15_20h_per_unique,Stay20_plus_per_unique,Stay0_05h_per_unique_share_per_unique,Stay05_1h_per_unique_share_per_unique,Stay1_3h_per_unique_share_per_unique,Stay3_6h_per_unique_share_per_unique,Stay6_9h_per_unique_share_per_unique,Stay9_15h_per_unique_share_per_unique,Stay15_20h_per_unique_share_per_unique,Stay20_plus_per_unique_share_per_unique
0,8911060006bffff,3.710017,1.70,0,8,57,13,9,9,1,1,0.0,0.081633,0.581633,0.132653,0.091837,0.091837,0.010204,0.010204
1,89110600077ffff,2.982734,1.39,0,18,55,13,6,4,3,0,0.0,0.181818,0.555556,0.131313,0.060606,0.040404,0.030303,0.000000
2,89110600113ffff,5.845619,1.50,0,20,93,14,7,5,3,2,0.0,0.138889,0.645833,0.097222,0.048611,0.034722,0.020833,0.013889
3,89110600127ffff,3.020000,3.02,0,0,0,1,0,0,0,0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
4,89110600183ffff,2.314583,1.88,0,0,5,2,0,0,0,0,0.0,0.000000,0.714286,0.285714,0.000000,0.000000,0.000000,0.000000

# Make final time related df

In [61]:
df_tracks_spb_aggregated_final = pd.merge(df_tracks_spb_aggregated, df_avg_duration_full,
                                how='left', left_on='h3_9', right_on='h3_9')

In [62]:
df_tracks_spb_aggregated_final.shape

(3905, 63)

In [63]:
df_tracks_spb_aggregated_final.head(5)

,h3_9,avg_duration_hrs,median_duration_hrs,weekday_visits,weekend_visits,Stay0_05h,Stay05_1h,Stay1_3h,Stay3_6h,Stay6_9h,Stay9_15h,Stay15_20h,Stay20_plus,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,day,evening,morning,night,weekday_visits_share,weekend_visits_share,Stay0_05h_share,Stay05_1h_share,Stay1_3h_share,Stay3_6h_share,Stay6_9h_share,Stay9_15h_share,Stay15_20h_share,Stay20_plus_share,Friday_share,Monday_share,Saturday_share,Sunday_share,Thursday_share,Tuesday_share,Wednesday_share,day_share,evening_share,morning_share,night_share,avg_duration_hrs_per_unique,median_duration_hrs_per_unique,Stay0_05h_per_unique,Stay05_1h_per_unique,Stay1_3h_per_unique,Stay3_6h_per_unique,Stay6_9h_per_unique,Stay9_15h_per_unique,Stay15_20h_per_unique,Stay20_plus_per_unique,Stay0_05h_per_unique_share_per_unique,Stay05_1h_per_unique_share_per_unique,Stay1_3h_per_unique_share_per_unique,Stay3_6h_per_unique_share_per_unique,Stay6_9h_per_unique_share_per_unique,Stay9_15h_per_unique_share_per_unique,Stay15_20h_per_unique_share_per_unique,Stay20_plus_per_unique_share_per_unique
0,8911060006bffff,4.722789,2.23,108,39,0,10,76,19,15,21,2,4,37,25,24,15,12,21,13,47,40,28,32,0.734694,0.265306,0.0,0.068027,0.517007,0.129252,0.102041,0.142857,0.013605,0.027211,0.251701,0.170068,0.163265,0.102041,0.081633,0.142857,0.088435,0.319728,0.272109,0.190476,0.217687,3.710017,1.70,0,8,57,13,9,9,1,1,0.0,0.081633,0.581633,0.132653,0.091837,0.091837,0.010204,0.010204
1,89110600077ffff,3.709160,1.81,186,64,0,22,141,44,17,16,9,1,36,54,31,33,34,36,26,115,54,36,45,0.744000,0.256000,0.0,0.088000,0.564000,0.176000,0.068000,0.064000,0.036000,0.004000,0.144000,0.216000,0.124000,0.132000,0.136000,0.144000,0.104000,0.460000,0.216000,0.144000,0.180000,2.982734,1.39,0,18,55,13,6,4,3,0,0.0,0.181818,0.555556,0.131313,0.060606,0.040404,0.030303,0.000000
2,89110600113ffff,4.214955,1.72,213,120,0,28,229,39,18,9,7,3,46,61,62,58,36,33,37,148,51,84,50,0.639640,0.360360,0.0,0.084084,0.687688,0.117117,0.054054,0.027027,0.021021,0.009009,0.138138,0.183183,0.186186,0.174174,0.108108,0.099099,0.111111,0.444444,0.153153,0.252252,0.150150,5.845619,1.50,0,20,93,14,7,5,3,2,0.0,0.138889,0.645833,0.097222,0.048611,0.034722,0.020833,0.013889
3,89110600127ffff,3.020000,3.02,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.020000,3.02,0,0,0,1,0,0,0,0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
4,89110600183ffff,2.669375,2.12,6,10,0,0,11,4,1,0,0,0,1,2,4,6,0,2,1,9,1,5,1,0.375000,0.625000,0.0,0.000000,0.687500,0.250000,0.062500,0.000000,0.000000,0.000000,0.062500,0.125000,0.250000,0.375000,0.000000,0.125000,0.062500,0.562500,0.062500,0.312500,0.062500,2.314583,1.88,0,0,5,2,0,0,0,0,0.0,0.000000,0.714286,0.285714,0.000000,0.000000,0.000000,0.000000

# Now we have
### df_tracks_spb_aggregated_final: include all possible (potentially important) time related features

In [61]:
df_tracks_spb_aggregated_final.to_csv('df_time_based_features_full.csv', index=False)

# Recreation of df_hex for SPB using correct df_dur

In [64]:
df_tracks_new_spb.shape

(992993, 30)

In [65]:
df_tracks_new_spb.head(3)

,id,start_dttm,end_dttm,h3_9,centroid_lon,centroid_lat,age,car_owners,carsharing_user,not_citizen_rf,gender,healthy_food_inter,income,public_trnsprt_user,pharmacies_inter,beauty_salon_inter,elite_sports_inter,sprtswr_ftwr_inter,sprt_good_inter,trvl_rus,trvl_abrd,sprt_fit_inter,hunting_fishing_inter,fashion_inter,coffee_inter,med_serv_inter,education_inter,delivery_inter,markets_inter,no_children
0,0,2023-03-03 00:18:43,2023-03-03 11:44:19,891106a9817ffff,30.404148,60.031672,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1
1,0,2023-03-03 13:17:33,2023-03-03 14:59:41,891106a9817ffff,30.404148,60.031672,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1
2,0,2023-03-03 19:28:07,2023-03-03 21:57:15,891106a9817ffff,30.404148,60.031672,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1

In [66]:
df_tracks_new_spb = df_tracks_new_spb.drop(['start_dttm', 'end_dttm',
                      'centroid_lon', 'centroid_lat'], axis=1)

In [67]:
df_tracks_new_spb.head(3)

,id,h3_9,age,car_owners,carsharing_user,not_citizen_rf,gender,healthy_food_inter,income,public_trnsprt_user,pharmacies_inter,beauty_salon_inter,elite_sports_inter,sprtswr_ftwr_inter,sprt_good_inter,trvl_rus,trvl_abrd,sprt_fit_inter,hunting_fishing_inter,fashion_inter,coffee_inter,med_serv_inter,education_inter,delivery_inter,markets_inter,no_children
0,0,891106a9817ffff,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1
1,0,891106a9817ffff,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1
2,0,891106a9817ffff,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1

In [68]:
df_tracks_new_spb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 992993 entries, 0 to 2012631
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     992993 non-null  int64
 1   h3_9                   992993 non-null  object
 2   age                    968019 non-null  object
 3   car_owners             992993 non-null  int64
 4   carsharing_user        992993 non-null  int64
 5   not_citizen_rf         992993 non-null  int64
 6   gender                 992993 non-null  int64
 7   healthy_food_inter     992993 non-null  int64
 8   income                 926976 non-null  object
 9   public_trnsprt_user    992993 non-null  int64
 10  pharmacies_inter       992993 non-null  int64
 11  beauty_salon_inter     992993 non-null  int64
 12  elite_sports_inter     992993 non-null  int64
 13  sprtswr_ftwr_inter     992993 non-null  int64
 14  sprt_good_inter        992993 non-null  int64
 15  trvl_rus               992993 non-null  int64
 16  trvl_abrd              992993 non-null  int64
 17  sprt_fit_inter         992993 non-null  int64
 18  hunting_fishing_inter  992993 non-null  int64
 19  fashion_inter          992993 non-null  int64
 20  coffee_inter           992993 non-null  int64
 21  med_serv_inter         992993 non-null  int64
 22  education_inter        992993 non-null  int64
 23  delivery_inter         992993 non-null  int64
 24  markets_inter          992993 non-null  int64
 25  no_children            992993 non-null  int64
dtypes: int64(23), object(3)
memory usage: 204.6+ MB

**OhE of the age, income and gender (to the standart df_hex form)**

In [69]:
df_tracks_new_spb = df_tracks_new_spb.astype({'age': float, 'income': float})

In [70]:
df_tracks_new_spb['age_20'] = (df_tracks_new_spb['age'] < 20).astype(int)
df_tracks_new_spb['age_20_30'] = ((df_tracks_new_spb['age'] >= 20) & (df_tracks_new_spb['age'] < 30)).astype(int)
df_tracks_new_spb['age_30_40'] = ((df_tracks_new_spb['age'] >= 30) & (df_tracks_new_spb['age'] < 40)).astype(int)
df_tracks_new_spb['age_40_60'] = ((df_tracks_new_spb['age'] >= 40) & (df_tracks_new_spb['age'] < 60)).astype(int)
df_tracks_new_spb['age_60'] = (df_tracks_new_spb['age'] >= 60).astype(int)

# Transforming the 'gender' column into 'male' and 'female' columns
df_tracks_new_spb['male'] = (df_tracks_new_spb['gender'] == 0).astype(int)
df_tracks_new_spb['female'] = (df_tracks_new_spb['gender'] == 1).astype(int)

# Transforming the 'income' column into salary level columns
for i in range(1, 6):
    df_tracks_new_spb[f'salary_{i}'] = (df_tracks_new_spb['income'] == i).astype(int)

In [71]:
df_tracks_new_spb.head(3)

,id,h3_9,age,car_owners,carsharing_user,not_citizen_rf,gender,healthy_food_inter,income,public_trnsprt_user,pharmacies_inter,beauty_salon_inter,elite_sports_inter,sprtswr_ftwr_inter,sprt_good_inter,trvl_rus,trvl_abrd,sprt_fit_inter,hunting_fishing_inter,fashion_inter,coffee_inter,med_serv_inter,education_inter,delivery_inter,markets_inter,no_children,age_20,age_20_30,age_30_40,age_40_60,age_60,male,female,salary_1,salary_2,salary_3,salary_4,salary_5
0,0,891106a9817ffff,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,1
1,0,891106a9817ffff,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,1
2,0,891106a9817ffff,51.0,0,0,1,1,1,5.0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,1

## Making aggregation itself

### Total visits aggregation

In [72]:
df_tracks_new_spb.columns

Index(['id', 'h3_9', 'age', 'car_owners', 'carsharing_user', 'not_citizen_rf',
       'gender', 'healthy_food_inter', 'income', 'public_trnsprt_user',
       'pharmacies_inter', 'beauty_salon_inter', 'elite_sports_inter',
       'sprtswr_ftwr_inter', 'sprt_good_inter', 'trvl_rus', 'trvl_abrd',
       'sprt_fit_inter', 'hunting_fishing_inter', 'fashion_inter',
       'coffee_inter', 'med_serv_inter', 'education_inter', 'delivery_inter',
       'markets_inter', 'no_children', 'age_20', 'age_20_30', 'age_30_40',
       'age_40_60', 'age_60', 'male', 'female', 'salary_1', 'salary_2',
       'salary_3', 'salary_4', 'salary_5'],
      dtype='object')

In [73]:
# Aggregating all specified columns for each unique h3_9 in a full manner without skipping
df_hex_total = df_tracks_new_spb.groupby("h3_9").agg({
    "car_owners": "sum",
    "carsharing_user": "sum",
    "not_citizen_rf": "sum",
    "healthy_food_inter": "sum",
    "public_trnsprt_user": "sum",
    "pharmacies_inter": "sum",
    "beauty_salon_inter": "sum",
    "elite_sports_inter": "sum",
    "sprtswr_ftwr_inter": "sum",
    "sprt_good_inter": "sum",
    "trvl_rus": "sum",
    "trvl_abrd": "sum",
    "sprt_fit_inter": "sum",
    "hunting_fishing_inter": "sum",
    "fashion_inter": "sum",
    "coffee_inter": "sum",
    "med_serv_inter": "sum",
    "education_inter": "sum",
    "delivery_inter": "sum",
    "markets_inter": "sum",
    "no_children": "sum",
    "age_20": "sum",
    "age_20_30": "sum",
    "age_30_40": "sum",
    "age_40_60": "sum",
    "age_60": "sum",
    "male": "sum",
    "female": "sum",
    "salary_1": "sum",
    "salary_2": "sum",
    "salary_3": "sum",
    "salary_4": "sum",
    "salary_5": "sum",
}).reset_index()

# Adding the total_visits column
df_hex_total["total_visits"] = df_tracks_new_spb.groupby("h3_9").size().values

**chech number of unique h3_9 in previous steps**

In [74]:
df_tracks_new_spb.h3_9.nunique()

3905

In [75]:
df_tracks_spb.h3_9.nunique()

3905

In [76]:
df_tracks_spb_aggregated.shape

(3905, 45)

**check our aggregation**

In [77]:
df_hex_total.shape

(3905, 35)

In [78]:
for column in df_hex_total.columns:
    if column not in ['h3_9', 'total_visits']:
        df_hex_total.rename(columns={column: column + '_total'}, inplace=True)

In [79]:
df_hex_total.head(3)

,h3_9,car_owners_total,carsharing_user_total,not_citizen_rf_total,healthy_food_inter_total,public_trnsprt_user_total,pharmacies_inter_total,beauty_salon_inter_total,elite_sports_inter_total,sprtswr_ftwr_inter_total,sprt_good_inter_total,trvl_rus_total,trvl_abrd_total,sprt_fit_inter_total,hunting_fishing_inter_total,fashion_inter_total,coffee_inter_total,med_serv_inter_total,education_inter_total,delivery_inter_total,markets_inter_total,no_children_total,age_20_total,age_20_30_total,age_30_40_total,age_40_60_total,age_60_total,male_total,female_total,salary_1_total,salary_2_total,salary_3_total,salary_4_total,salary_5_total,total_visits
0,8911060006bffff,83,22,57,3,6,60,5,3,1,3,49,6,2,2,8,6,31,8,33,79,136,0,24,34,65,21,91,56,33,40,27,15,18,147
1,89110600077ffff,151,72,133,1,27,78,1,11,1,58,70,34,20,5,15,38,69,31,99,109,189,1,40,90,92,16,101,149,31,39,50,55,39,250
2,89110600113ffff,175,65,204,4,5,177,8,23,0,39,25,3,10,14,94,51,70,75,96,206,257,1,36,165,110,14,191,142,68,62,65,70,50,333

In [80]:
#Сколько гексов с нормальным кол-вом посещений
df_hex_total[df_hex_total['total_visits'] > 250].shape

(1179, 35)

**We need to add shares columns to iur df**

**Create separate df only with shares then join it together**

In [81]:
df_hex_total['total_gender'] = df_hex_total['male_total'] + df_hex_total['female_total']
df_hex_total['total_age'] = df_hex_total['age_20_total'] + df_hex_total['age_20_30_total'] + df_hex_total['age_30_40_total']\
                          + df_hex_total['age_40_60_total'] + df_hex_total['age_60_total']

df_hex_total['total_salary'] = df_hex_total['salary_1_total'] + df_hex_total['salary_2_total'] + df_hex_total['salary_3_total']\
                          + df_hex_total['salary_4_total'] + df_hex_total['salary_5_total']

**I need to make separate totals since I have nulls in some income or age columns, so it would be wrong to devide all groups by total_visits**

In [82]:
df_hex_total[['h3_9', 'total_gender', 'total_age', 'total_salary', 'total_visits']].head(3)

              h3_9  total_gender  total_age  total_salary  total_visits
0  8911060006bffff           147        144           133           147
1  89110600077ffff           250        239           214           250
2  89110600113ffff           333        326           315           333

In [83]:
salary_groups = ['salary_1_total', 'salary_2_total', 'salary_3_total', 'salary_4_total', 'salary_5_total']
age_groups = ['age_20_total', 'age_20_30_total', 'age_30_40_total', 'age_40_60_total', 'age_60_total']
gender_groups = ['male_total', 'female_total']
other_categories_groups = ['car_owners_total', 'carsharing_user_total',
                           'not_citizen_rf_total', 'healthy_food_inter_total',
                           'public_trnsprt_user_total', 'pharmacies_inter_total',
                           'beauty_salon_inter_total', 'elite_sports_inter_total',
                           'sprtswr_ftwr_inter_total', 'sprt_good_inter_total', 'trvl_rus_total',
                           'trvl_abrd_total', 'sprt_fit_inter_total',
                           'hunting_fishing_inter_total', 'fashion_inter_total',
                           'coffee_inter_total', 'med_serv_inter_total', 'education_inter_total',
                           'delivery_inter_total', 'markets_inter_total', 'no_children_total',
                           ]

df_hex_total_shares = df_hex_total.copy()

# Calculate the shares within each group
for group in [salary_groups, age_groups, gender_groups]:
    total = df_hex_total_shares[group].sum(axis=1)
    for column in group:
        df_hex_total_shares[column] = df_hex_total_shares[column] / total

total_other_categories_groups = df_hex_total_shares['total_visits']
for column in other_categories_groups:
    df_hex_total_shares[column] = df_hex_total_shares[column] / total_other_categories_groups

In [84]:
df_hex_total_shares = df_hex_total_shares.drop(['total_visits', 'total_gender',
                      'total_age', 'total_salary'], axis=1)

In [85]:
for column in df_hex_total_shares.columns:
    if column not in ['h3_9']:
        df_hex_total_shares.rename(columns={column: column + '_share'}, inplace=True)

In [86]:
df_hex_total_shares.shape

(3905, 34)

In [87]:
df_hex_total_shares.head(3)

,h3_9,car_owners_total_share,carsharing_user_total_share,not_citizen_rf_total_share,healthy_food_inter_total_share,public_trnsprt_user_total_share,pharmacies_inter_total_share,beauty_salon_inter_total_share,elite_sports_inter_total_share,sprtswr_ftwr_inter_total_share,sprt_good_inter_total_share,trvl_rus_total_share,trvl_abrd_total_share,sprt_fit_inter_total_share,hunting_fishing_inter_total_share,fashion_inter_total_share,coffee_inter_total_share,med_serv_inter_total_share,education_inter_total_share,delivery_inter_total_share,markets_inter_total_share,no_children_total_share,age_20_total_share,age_20_30_total_share,age_30_40_total_share,age_40_60_total_share,age_60_total_share,male_total_share,female_total_share,salary_1_total_share,salary_2_total_share,salary_3_total_share,salary_4_total_share,salary_5_total_share
0,8911060006bffff,0.564626,0.149660,0.387755,0.020408,0.040816,0.408163,0.034014,0.020408,0.006803,0.020408,0.333333,0.040816,0.013605,0.013605,0.054422,0.040816,0.210884,0.054422,0.224490,0.537415,0.925170,0.000000,0.166667,0.236111,0.451389,0.145833,0.619048,0.380952,0.248120,0.300752,0.203008,0.112782,0.135338
1,89110600077ffff,0.604000,0.288000,0.532000,0.004000,0.108000,0.312000,0.004000,0.044000,0.004000,0.232000,0.280000,0.136000,0.080000,0.020000,0.060000,0.152000,0.276000,0.124000,0.396000,0.436000,0.756000,0.004184,0.167364,0.376569,0.384937,0.066946,0.404000,0.596000,0.144860,0.182243,0.233645,0.257009,0.182243
2,89110600113ffff,0.525526,0.195195,0.612613,0.012012,0.015015,0.531532,0.024024,0.069069,0.000000,0.117117,0.075075,0.009009,0.030030,0.042042,0.282282,0.153153,0.210210,0.225225,0.288288,0.618619,0.771772,0.003067,0.110429,0.506135,0.337423,0.042945,0.573574,0.426426,0.215873,0.196825,0.206349,0.222222,0.158730

**join with main total df_hex**

In [88]:
df_hex_total = pd.merge(df_hex_total, df_hex_total_shares,
                                how='left', left_on='h3_9', right_on='h3_9')

In [89]:
df_hex_total.shape

(3905, 71)

In [90]:
df_hex_total = df_hex_total.drop(['total_gender',
                      'total_age', 'total_salary'], axis=1)

In [91]:
#move column 'total_visits' to be second from the left (index 1)

col = df_hex_total.pop('total_visits')
df_hex_total.insert(1, col.name, col)

In [92]:
df_hex_total = df_hex_total.fillna(0)

In [93]:
df_hex_total.head(5)

,h3_9,total_visits,car_owners_total,carsharing_user_total,not_citizen_rf_total,healthy_food_inter_total,public_trnsprt_user_total,pharmacies_inter_total,beauty_salon_inter_total,elite_sports_inter_total,sprtswr_ftwr_inter_total,sprt_good_inter_total,trvl_rus_total,trvl_abrd_total,sprt_fit_inter_total,hunting_fishing_inter_total,fashion_inter_total,coffee_inter_total,med_serv_inter_total,education_inter_total,delivery_inter_total,markets_inter_total,no_children_total,age_20_total,age_20_30_total,age_30_40_total,age_40_60_total,age_60_total,male_total,female_total,salary_1_total,salary_2_total,salary_3_total,salary_4_total,salary_5_total,car_owners_total_share,carsharing_user_total_share,not_citizen_rf_total_share,healthy_food_inter_total_share,public_trnsprt_user_total_share,pharmacies_inter_total_share,beauty_salon_inter_total_share,elite_sports_inter_total_share,sprtswr_ftwr_inter_total_share,sprt_good_inter_total_share,trvl_rus_total_share,trvl_abrd_total_share,sprt_fit_inter_total_share,hunting_fishing_inter_total_share,fashion_inter_total_share,coffee_inter_total_share,med_serv_inter_total_share,education_inter_total_share,delivery_inter_total_share,markets_inter_total_share,no_children_total_share,age_20_total_share,age_20_30_total_share,age_30_40_total_share,age_40_60_total_share,age_60_total_share,male_total_share,female_total_share,salary_1_total_share,salary_2_total_share,salary_3_total_share,salary_4_total_share,salary_5_total_share
0,8911060006bffff,147,83,22,57,3,6,60,5,3,1,3,49,6,2,2,8,6,31,8,33,79,136,0,24,34,65,21,91,56,33,40,27,15,18,0.564626,0.149660,0.387755,0.020408,0.040816,0.408163,0.034014,0.020408,0.006803,0.020408,0.333333,0.040816,0.013605,0.013605,0.054422,0.040816,0.210884,0.054422,0.224490,0.537415,0.925170,0.000000,0.166667,0.236111,0.451389,0.145833,0.619048,0.380952,0.248120,0.300752,0.203008,0.112782,0.135338
1,89110600077ffff,250,151,72,133,1,27,78,1,11,1,58,70,34,20,5,15,38,69,31,99,109,189,1,40,90,92,16,101,149,31,39,50,55,39,0.604000,0.288000,0.532000,0.004000,0.108000,0.312000,0.004000,0.044000,0.004000,0.232000,0.280000,0.136000,0.080000,0.020000,0.060000,0.152000,0.276000,0.124000,0.396000,0.436000,0.756000,0.004184,0.167364,0.376569,0.384937,0.066946,0.404000,0.596000,0.144860,0.182243,0.233645,0.257009,0.182243
2,89110600113ffff,333,175,65,204,4,5,177,8,23,0,39,25,3,10,14,94,51,70,75,96,206,257,1,36,165,110,14,191,142,68,62,65,70,50,0.525526,0.195195,0.612613,0.012012,0.015015,0.531532,0.024024,0.069069,0.000000,0.117117,0.075075,0.009009,0.030030,0.042042,0.282282,0.153153,0.210210,0.225225,0.288288,0.618619,0.771772,0.003067,0.110429,0.506135,0.337423,0.042945,0.573574,0.426426,0.215873,0.196825,0.206349,0.222222,0.158730
3,89110600127ffff,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,89110600183ffff,16,10,1,5,0,0,11,0,0,0,10,1,0,0,0,0,1,1,10,10,2,15,0,3,11,2,0,3,13,1,3,9,0,2,0.625000,0.062500,0.312500,0.000000,0.000000,0.687500,0.000000,0.000000,0.000000,0.625000,0.062500,0.000000,0.000000,0.000000,0.000000,0.062500,0.062500,0.625000,0.625000,0.125000,0.937500,0.000000,0.187500,0.687500,0.125000,0.000000,0.187500,0.812500,0.066667,0.200000,0.600000,0.000000,0.133333

### Unique visits aggregation

**I create new df based on df_tracks_new_spb where I leave only one unique visitor per hex**

In [94]:
df_tracks_new_spb.shape

(992993, 38)

In [95]:
df_tracks_new_spb_unique = df_tracks_new_spb.drop_duplicates(subset=['h3_9', 'id'])

In [96]:
df_tracks_new_spb.shape, df_tracks_new_spb_unique.shape

((992993, 38), (196048, 38))

In [97]:
# Aggregating all specified columns for each unique h3_9 in a full manner without skipping
df_hex_unique = df_tracks_new_spb_unique.groupby("h3_9").agg({
    "car_owners": "sum",
    "carsharing_user": "sum",
    "not_citizen_rf": "sum",
    "healthy_food_inter": "sum",
    "public_trnsprt_user": "sum",
    "pharmacies_inter": "sum",
    "beauty_salon_inter": "sum",
    "elite_sports_inter": "sum",
    "sprtswr_ftwr_inter": "sum",
    "sprt_good_inter": "sum",
    "trvl_rus": "sum",
    "trvl_abrd": "sum",
    "sprt_fit_inter": "sum",
    "hunting_fishing_inter": "sum",
    "fashion_inter": "sum",
    "coffee_inter": "sum",
    "med_serv_inter": "sum",
    "education_inter": "sum",
    "delivery_inter": "sum",
    "markets_inter": "sum",
    "no_children": "sum",
    "age_20": "sum",
    "age_20_30": "sum",
    "age_30_40": "sum",
    "age_40_60": "sum",
    "age_60": "sum",
    "male": "sum",
    "female": "sum",
    "salary_1": "sum",
    "salary_2": "sum",
    "salary_3": "sum",
    "salary_4": "sum",
    "salary_5": "sum",
}).reset_index()

# Adding the total_visits column
df_hex_unique["unique_visits"] = df_tracks_new_spb_unique.groupby("h3_9").size().values

**chech number of unique h3_9 in previous steps**

In [98]:
df_tracks_new_spb.h3_9.nunique()

3905

In [99]:
df_tracks_spb.h3_9.nunique()

3905

In [100]:
df_tracks_spb_aggregated.shape

(3905, 45)

**check our aggregation**

In [101]:
df_hex_unique.shape

(3905, 35)

In [102]:
for column in df_hex_unique.columns:
    if column not in ['h3_9', 'unique_visits']:
        df_hex_unique.rename(columns={column: column + '_unique'}, inplace=True)

In [103]:
df_hex_unique.head(3)

,h3_9,car_owners_unique,carsharing_user_unique,not_citizen_rf_unique,healthy_food_inter_unique,public_trnsprt_user_unique,pharmacies_inter_unique,beauty_salon_inter_unique,elite_sports_inter_unique,sprtswr_ftwr_inter_unique,sprt_good_inter_unique,trvl_rus_unique,trvl_abrd_unique,sprt_fit_inter_unique,hunting_fishing_inter_unique,fashion_inter_unique,coffee_inter_unique,med_serv_inter_unique,education_inter_unique,delivery_inter_unique,markets_inter_unique,no_children_unique,age_20_unique,age_20_30_unique,age_30_40_unique,age_40_60_unique,age_60_unique,male_unique,female_unique,salary_1_unique,salary_2_unique,salary_3_unique,salary_4_unique,salary_5_unique,unique_visits
0,8911060006bffff,50,12,44,3,4,38,4,1,1,3,22,4,2,2,5,6,14,8,22,41,90,0,12,29,41,14,64,34,29,15,12,13,16,98
1,89110600077ffff,53,27,48,1,3,42,1,3,1,10,27,8,4,5,4,13,17,15,26,48,83,1,12,26,39,12,69,30,20,13,20,18,16,99
2,89110600113ffff,79,31,80,4,5,66,6,1,0,14,21,3,7,4,17,20,32,28,34,66,118,1,10,51,62,13,92,52,42,26,22,20,19,144

In [104]:
#Сколько гексов с нормальным кол-вом посещений
df_hex_unique[df_hex_unique['unique_visits'] > 50].shape

(1225, 35)

**We need to add shares columns to iur df**

**Create separate df only with shares then join it together**

In [105]:
df_hex_unique['unique_gender'] = df_hex_unique['male_unique'] + df_hex_unique['female_unique']
df_hex_unique['unique_age'] = df_hex_unique['age_20_unique'] + df_hex_unique['age_20_30_unique'] + df_hex_unique['age_30_40_unique']\
                          + df_hex_unique['age_40_60_unique'] + df_hex_unique['age_60_unique']

df_hex_unique['unique_salary'] = df_hex_unique['salary_1_unique'] + df_hex_unique['salary_2_unique'] + df_hex_unique['salary_3_unique']\
                          + df_hex_unique['salary_4_unique'] + df_hex_unique['salary_5_unique']

**I need to make separate totals since I have nulls in some income or age columns, so it would be wrong to devide all groups by total_visits**

In [106]:
df_hex_unique[['h3_9', 'unique_gender', 'unique_age', 'unique_salary', 'unique_visits']].head(3)

              h3_9  unique_gender  unique_age  unique_salary  unique_visits
0  8911060006bffff             98          96             85             98
1  89110600077ffff             99          90             87             99
2  89110600113ffff            144         137            129            144

In [107]:
salary_groups = ['salary_1_unique', 'salary_2_unique', 'salary_3_unique', 'salary_4_unique', 'salary_5_unique']
age_groups = ['age_20_unique', 'age_20_30_unique', 'age_30_40_unique', 'age_40_60_unique', 'age_60_unique']
gender_groups = ['male_unique', 'female_unique']
other_categories_groups = ['car_owners_unique', 'carsharing_user_unique',
                           'not_citizen_rf_unique', 'healthy_food_inter_unique',
                           'public_trnsprt_user_unique', 'pharmacies_inter_unique',
                           'beauty_salon_inter_unique', 'elite_sports_inter_unique',
                           'sprtswr_ftwr_inter_unique', 'sprt_good_inter_unique', 'trvl_rus_unique',
                           'trvl_abrd_unique', 'sprt_fit_inter_unique',
                           'hunting_fishing_inter_unique', 'fashion_inter_unique',
                           'coffee_inter_unique', 'med_serv_inter_unique', 'education_inter_unique',
                           'delivery_inter_unique', 'markets_inter_unique', 'no_children_unique',
                           ]

df_hex_unique_shares = df_hex_unique.copy()

# Calculate the shares within each group
for group in [salary_groups, age_groups, gender_groups]:
    unique = df_hex_unique_shares[group].sum(axis=1)
    for column in group:
        df_hex_unique_shares[column] = df_hex_unique_shares[column] / unique

unique_other_categories_groups = df_hex_unique_shares['unique_visits']
for column in other_categories_groups:
    df_hex_unique_shares[column] = df_hex_unique_shares[column] / unique_other_categories_groups

In [108]:
df_hex_unique_shares = df_hex_unique_shares.drop(['unique_visits', 'unique_gender',
                      'unique_age', 'unique_salary'], axis=1)

In [109]:
for column in df_hex_unique_shares.columns:
    if column not in ['h3_9']:
        df_hex_unique_shares.rename(columns={column: column + '_share'}, inplace=True)

In [110]:
df_hex_unique_shares.shape

(3905, 34)

In [111]:
df_hex_unique_shares.head(3)

,h3_9,car_owners_unique_share,carsharing_user_unique_share,not_citizen_rf_unique_share,healthy_food_inter_unique_share,public_trnsprt_user_unique_share,pharmacies_inter_unique_share,beauty_salon_inter_unique_share,elite_sports_inter_unique_share,sprtswr_ftwr_inter_unique_share,sprt_good_inter_unique_share,trvl_rus_unique_share,trvl_abrd_unique_share,sprt_fit_inter_unique_share,hunting_fishing_inter_unique_share,fashion_inter_unique_share,coffee_inter_unique_share,med_serv_inter_unique_share,education_inter_unique_share,delivery_inter_unique_share,markets_inter_unique_share,no_children_unique_share,age_20_unique_share,age_20_30_unique_share,age_30_40_unique_share,age_40_60_unique_share,age_60_unique_share,male_unique_share,female_unique_share,salary_1_unique_share,salary_2_unique_share,salary_3_unique_share,salary_4_unique_share,salary_5_unique_share
0,8911060006bffff,0.510204,0.122449,0.448980,0.030612,0.040816,0.387755,0.040816,0.010204,0.010204,0.030612,0.224490,0.040816,0.020408,0.020408,0.051020,0.061224,0.142857,0.081633,0.224490,0.418367,0.918367,0.000000,0.125000,0.302083,0.427083,0.145833,0.653061,0.346939,0.341176,0.176471,0.141176,0.152941,0.188235
1,89110600077ffff,0.535354,0.272727,0.484848,0.010101,0.030303,0.424242,0.010101,0.030303,0.010101,0.101010,0.272727,0.080808,0.040404,0.050505,0.040404,0.131313,0.171717,0.151515,0.262626,0.484848,0.838384,0.011111,0.133333,0.288889,0.433333,0.133333,0.696970,0.303030,0.229885,0.149425,0.229885,0.206897,0.183908
2,89110600113ffff,0.548611,0.215278,0.555556,0.027778,0.034722,0.458333,0.041667,0.006944,0.000000,0.097222,0.145833,0.020833,0.048611,0.027778,0.118056,0.138889,0.222222,0.194444,0.236111,0.458333,0.819444,0.007299,0.072993,0.372263,0.452555,0.094891,0.638889,0.361111,0.325581,0.201550,0.170543,0.155039,0.147287

**join with main unique df_hex**

In [112]:
df_hex_unique = pd.merge(df_hex_unique, df_hex_unique_shares,
                                how='left', left_on='h3_9', right_on='h3_9')

In [113]:
df_hex_unique.shape

(3905, 71)

In [114]:
df_hex_unique = df_hex_unique.drop(['unique_gender',
                      'unique_age', 'unique_salary'], axis=1)

In [115]:
#move column 'total_visits' to be second from the left (index 1)

col = df_hex_unique.pop('unique_visits')
df_hex_unique.insert(1, col.name, col)

In [116]:
df_hex_unique = df_hex_unique.fillna(0)

In [117]:
df_hex_unique.head(5)

,h3_9,unique_visits,car_owners_unique,carsharing_user_unique,not_citizen_rf_unique,healthy_food_inter_unique,public_trnsprt_user_unique,pharmacies_inter_unique,beauty_salon_inter_unique,elite_sports_inter_unique,sprtswr_ftwr_inter_unique,sprt_good_inter_unique,trvl_rus_unique,trvl_abrd_unique,sprt_fit_inter_unique,hunting_fishing_inter_unique,fashion_inter_unique,coffee_inter_unique,med_serv_inter_unique,education_inter_unique,delivery_inter_unique,markets_inter_unique,no_children_unique,age_20_unique,age_20_30_unique,age_30_40_unique,age_40_60_unique,age_60_unique,male_unique,female_unique,salary_1_unique,salary_2_unique,salary_3_unique,salary_4_unique,salary_5_unique,car_owners_unique_share,carsharing_user_unique_share,not_citizen_rf_unique_share,healthy_food_inter_unique_share,public_trnsprt_user_unique_share,pharmacies_inter_unique_share,beauty_salon_inter_unique_share,elite_sports_inter_unique_share,sprtswr_ftwr_inter_unique_share,sprt_good_inter_unique_share,trvl_rus_unique_share,trvl_abrd_unique_share,sprt_fit_inter_unique_share,hunting_fishing_inter_unique_share,fashion_inter_unique_share,coffee_inter_unique_share,med_serv_inter_unique_share,education_inter_unique_share,delivery_inter_unique_share,markets_inter_unique_share,no_children_unique_share,age_20_unique_share,age_20_30_unique_share,age_30_40_unique_share,age_40_60_unique_share,age_60_unique_share,male_unique_share,female_unique_share,salary_1_unique_share,salary_2_unique_share,salary_3_unique_share,salary_4_unique_share,salary_5_unique_share
0,8911060006bffff,98,50,12,44,3,4,38,4,1,1,3,22,4,2,2,5,6,14,8,22,41,90,0,12,29,41,14,64,34,29,15,12,13,16,0.510204,0.122449,0.448980,0.030612,0.040816,0.387755,0.040816,0.010204,0.010204,0.030612,0.224490,0.040816,0.020408,0.020408,0.051020,0.061224,0.142857,0.081633,0.224490,0.418367,0.918367,0.000000,0.125000,0.302083,0.427083,0.145833,0.653061,0.346939,0.341176,0.176471,0.141176,0.152941,0.188235
1,89110600077ffff,99,53,27,48,1,3,42,1,3,1,10,27,8,4,5,4,13,17,15,26,48,83,1,12,26,39,12,69,30,20,13,20,18,16,0.535354,0.272727,0.484848,0.010101,0.030303,0.424242,0.010101,0.030303,0.010101,0.101010,0.272727,0.080808,0.040404,0.050505,0.040404,0.131313,0.171717,0.151515,0.262626,0.484848,0.838384,0.011111,0.133333,0.288889,0.433333,0.133333,0.696970,0.303030,0.229885,0.149425,0.229885,0.206897,0.183908
2,89110600113ffff,144,79,31,80,4,5,66,6,1,0,14,21,3,7,4,17,20,32,28,34,66,118,1,10,51,62,13,92,52,42,26,22,20,19,0.548611,0.215278,0.555556,0.027778,0.034722,0.458333,0.041667,0.006944,0.000000,0.097222,0.145833,0.020833,0.048611,0.027778,0.118056,0.138889,0.222222,0.194444,0.236111,0.458333,0.819444,0.007299,0.072993,0.372263,0.452555,0.094891,0.638889,0.361111,0.325581,0.201550,0.170543,0.155039,0.147287
3,89110600127ffff,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,89110600183ffff,7,3,1,3,0,0,4,0,0,0,3,1,0,0,0,0,1,1,3,3,2,6,0,1,4,2,0,3,4,1,1,2,0,2,0.428571,0.142857,0.428571,0.000000,0.000000,0.571429,0.000000,0.000000,0.000000,0.428571,0.142857,0.000000,0.000000,0.000000,0.000000,0.142857,0.142857,0.428571,0.428571,0.285714,0.857143,0.000000,0.142857,0.571429,0.285714,0.000000,0.428571,0.571429,0.166667,0.166667,0.333333,0.000000,0.333333

# Now we have
### df_hex_total - агрегация по суммарному кол-ву посещений
### df_hex_unique - агрегация по уникальным посещениям

In [106]:
df_hex_total.to_csv('df_hex_total_with_shares_spb.csv', index=False)
df_hex_unique.to_csv('df_hex_unique_with_shares_spb.csv', index=False)

# CODE BELOW IS NOT RELEVANT (CHECK GEO FOLDER)

# Join shares dataset with geo data

**I decided to join geo data into the time dataframe**

In [118]:
df_adm_distr.head(3)

          h3_9_osm               name             city
0  89110606e87ffff  Калининский район  Санкт-Петербург
1  891106aa373ffff   Приморский район  Санкт-Петербург
2  8911060438fffff      Невский район  Санкт-Петербург

df_adm_distr
df_osm_agr
df_transport_agr
df_fitness_agr

In [119]:
df_osm_agr.columns

Index(['h3_9', 'building_count', 'highway_count', 'footway_count',
       'amenity_count', 'apartments_count', 'detached_count',
       'dormitory_count', 'hotel_count', 'house_count',
       'semidetached_house_count', 'terrace_count', 'commercial_count',
       'office_count', 'retail_count', 'train_station_count', 'bus_stop_count',
       'crossing_count', 'cafe_count', 'fast_food_count', 'restaurant_count',
       'college_count', 'language_school_count', 'school_count',
       'university_count', 'atm_count', 'bank_count', 'clinic_count',
       'hospital_count', 'pharmacy_count', 'theatre_count', 'townhall_count',
       'bench_count'],
      dtype='object')

In [120]:
df_geo_spb = df_tracks_spb_aggregated_final[['h3_9']]

In [121]:
df_geo_spb.head(3)

              h3_9
0  8911060006bffff
1  89110600077ffff
2  89110600113ffff

In [122]:
df_geo_spb = pd.merge(df_geo_spb, df_adm_distr[['h3_9_osm', 'name']],
                                how='left', left_on='h3_9', right_on='h3_9_osm')

In [123]:
df_geo_spb = df_geo_spb.drop(['h3_9_osm'], axis=1)

In [124]:
df_geo_spb = pd.merge(df_geo_spb, df_osm_agr,
                                how='left', left_on='h3_9', right_on='h3_9')

df_geo_spb = pd.merge(df_geo_spb, df_transport_agr,
                                how='left', left_on='h3_9', right_on='h3_9_transport')

df_geo_spb = pd.merge(df_geo_spb, df_fitness_agr,
                                how='left', left_on='h3_9', right_on='h3_9_club')

In [125]:
df_geo_spb = df_geo_spb.drop(['h3_9_transport', 'h3_9_club'], axis=1)

In [126]:
df_geo_spb = df_geo_spb.replace(np.nan, 0)

In [127]:
df_geo_spb.shape

(4250, 43)

In [128]:
df_geo_spb.head(3)

,h3_9,name,building_count,highway_count,footway_count,amenity_count,apartments_count,detached_count,dormitory_count,hotel_count,house_count,semidetached_house_count,terrace_count,commercial_count,office_count,retail_count,train_station_count,bus_stop_count,crossing_count,cafe_count,fast_food_count,restaurant_count,college_count,language_school_count,school_count,university_count,atm_count,bank_count,clinic_count,hospital_count,pharmacy_count,theatre_count,townhall_count,bench_count,amount_unqiue_vehicles,unique_vehicle_stops,unique_stops,bus_stop_counter,tram_stop_counter,trolleybus_stop_counter,unique_clubs_names,unique_clubs_sortes,total_fit_clubs
0,8911060006bffff,Пушкинский район,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,8911060006bffff,Московский район,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,89110600077ffff,Московский район,2,1,0,0,0,0,0,0,0,0,0,0,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [129]:
df_geo_spb.h3_9.nunique()

3905

In [130]:
df_osm_agr.h3_9.nunique()

4392

In [131]:
df_osm_agr.describe()

,building_count,highway_count,footway_count,amenity_count,apartments_count,detached_count,dormitory_count,hotel_count,house_count,semidetached_house_count,terrace_count,commercial_count,office_count,retail_count,train_station_count,bus_stop_count,crossing_count,cafe_count,fast_food_count,restaurant_count,college_count,language_school_count,school_count,university_count,atm_count,bank_count,clinic_count,hospital_count,pharmacy_count,theatre_count,townhall_count,bench_count
count,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000,4392.000000
mean,4.823315,0.924863,2.107013,6.319444,3.406648,0.372040,0.102914,0.019353,0.238160,0.001366,0.090847,0.105191,0.244080,0.227687,0.015027,0.924863,2.107013,0.681239,0.548497,0.282559,0.038707,0.023224,0.183515,0.047359,0.413251,0.196721,0.108151,0.026184,0.408242,0.027322,0.007058,3.327413
std,5.705617,1.208902,3.064542,10.857253,4.319661,2.660305,0.451593,0.162083,1.923313,0.036940,1.276485,0.437223,0.690295,0.789119,0.174043,1.208902,3.064542,1.848247,1.667244,0.996960,0.217342,0.196549,0.452249,0.256169,1.496291,0.691562,0.402007,0.170728,0.887811,0.196021,0.083726,8.491951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.000000,2.000000,3.000000,8.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,50.000000,10.000000,28.000000,166.000000,45.000000,40.000000,8.000000,5.000000,37.000000,1.000000,30.000000,9.000000,12.000000,20.000000,7.000000,10.000000,28.000000,25.000000,35.000000,16.000000,3.000000,5.000000,4.000000,5.000000,24.000000,10.000000,7.000000,2.000000,9.000000,4.000000,1.000000,153.000000

In [132]:
df_geo_spb.describe()

,building_count,highway_count,footway_count,amenity_count,apartments_count,detached_count,dormitory_count,hotel_count,house_count,semidetached_house_count,terrace_count,commercial_count,office_count,retail_count,train_station_count,bus_stop_count,crossing_count,cafe_count,fast_food_count,restaurant_count,college_count,language_school_count,school_count,university_count,atm_count,bank_count,clinic_count,hospital_count,pharmacy_count,theatre_count,townhall_count,bench_count,amount_unqiue_vehicles,unique_vehicle_stops,unique_stops,bus_stop_counter,tram_stop_counter,trolleybus_stop_counter,unique_clubs_names,unique_clubs_sortes,total_fit_clubs
count,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000
mean,4.903765,0.980941,2.276706,6.649412,3.572941,0.270353,0.107294,0.020706,0.204235,0.000706,0.093882,0.112706,0.266824,0.233176,0.020941,0.980941,2.276706,0.752235,0.605882,0.310353,0.041412,0.026353,0.190353,0.055059,0.466588,0.216941,0.115529,0.027529,0.439529,0.030353,0.008000,3.363294,0.797412,1.067059,1.034353,0.657176,0.156941,0.252941,0.144235,0.125412,0.144706
std,5.559402,1.242862,3.148277,10.937182,4.420525,2.180724,0.458459,0.165355,1.799867,0.026562,1.304043,0.451720,0.724682,0.773460,0.220793,1.242862,3.148277,1.962828,1.754720,1.059052,0.222690,0.208689,0.459979,0.279998,1.612040,0.722496,0.424113,0.176108,0.929494,0.204149,0.089095,8.345492,0.912063,1.393416,1.325296,0.826073,0.447876,0.564729,0.462931,0.411117,0.464308
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,1.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.000000,2.000000,3.000000,9.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,3.000000,1.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,50.000000,10.000000,28.000000,166.000000,45.000000,35.000000,8.000000,5.000000,37.000000,1.000000,30.000000,9.000000,12.000000,20.000000,7.000000,10.000000,28.000000,25.000000,35.000000,16.000000,3.000000,5.000000,4.000000,5.000000,24.000000,10.000000,7.000000,2.000000,9.000000,4.000000,1.000000,153.000000,3.000000,9.000000,9.000000,5.000000,3.000000,5.000000,6.000000,4.000000,6.000000

In [133]:
df_geo_spb = df_geo_spb.drop_duplicates(subset='h3_9', keep="first")

In [134]:
df_geo_spb.to_csv('df_geo_features_spb.csv', index=False)